[user]
	name = Matt Florence
	email = mflorence@onetechnologies.net
[alias]
  st = status
  rmo = remote -v 
  ct = commit
  br = branch
  co = checkout
  df = diff --name-status
  dt = difftool 
  lo = log -20 --graph --decorate --format=format:\"%C(bold yellow)%h%Creset %ad %C(bold blue)%an%Creset %s %C(bold green)%d%Creset\" --date=local
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[diff]
	tool = winmerge
[difftool "winmerge"]
	cmd = winmerge.sh \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[core]
	pager = less -E
[log]
	decorate = full
